[core]
	editor = emacsclient -t -a=\"\"
	pager = diff-highlight | less -F -X
	excludesfile = /Users/mlauter-m1/.gitignore_global
[alias]
	co = checkout
	st = status
	cp = cherry-pick
	rpull = pull --rebase
        d = diff
        ds = diff --cached
[include]
	path = ~/.gitconfig_local
