[core]
	editor = emacsclient -t -a=\"\"
	pager = less -F -X
	excludesfile = /home/mlauter/.gitignore_global
[alias]
	co = checkout
	st = status
	cp = cherry-pick
	rpull = pull --rebase
[include]
	path = ~/dotfiles_local/.gitconfig_local
